@font-face {
  font-family: "GomariceNoContinue";
  src: url("./gomarice_no_continue.woff2") format("woff2"),
       url("./gomarice_no_continue.woff") format("woff"),
       url("./gomarice_no_continue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Blowbrush';
  src: url('./blowbrush.woff2') format('woff2'),
       url('./blowbrush.woff') format('woff'),
       url('./blowbrush.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Poppins';
  src: url('./poppins-latin-400-normal.woff2') format('woff2'),
       url('./poppins-latin-400-normal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Poppins';
  src: url('./poppins-latin-600-normal.woff2') format('woff2'),
       url('./poppins-latin-600-normal.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Poppins';
  src: url('./poppins-latin-700-normal.woff2') format('woff2'),
       url('./poppins-latin-700-normal.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Poppins';
  src: url('./poppins-latin-900-normal.woff2') format('woff2'),
       url('./poppins-latin-900-normal.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}
